@import 'SCSS/_global_colors.scss';
@import 'SCSS/_mixin-circle-overlay.scss';

.form-info {
  display: inline-block;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  max-width: 350px;
  margin: 2%;
  text-align: left;
  padding: 2%;
  background: $color_2;
  border-radius: 4px;
  vertical-align: top;
  $image_height: 210px;

  &__name {
    font-size: 1.2rem;
    margin: 1.5rem 0 0;
  }

  &__description {
    line-height: 1.6;
  }

  &__image {
    width: 100%;
    height: $image_height;
    object-fit: cover;
  }

  &__image-wrapper {
    height: $image_height;
    background: url("./no_image_available.png") no-repeat 50% 50%;
    background-size: contain;

  }

  &__btn {
    display: inline-block;
    position: relative;
    background: inherit;
    border: 1px solid $color_3;
    padding: 5px 15px;
    margin-left: 10px;
    cursor: pointer;
    color: $color_3;
    text-decoration: none;
    vertical-align: bottom;
    @include circle-overlay(rgba(0,0,0,0.1), 0.4s);
  }

  &__btn:hover {
    transition: transform 0.1s, box-shadow 0.4s;
    transform: scale(1.1);
    box-shadow: 0 5px 10px -5px;
  }

  &__btn-wrapper {
    margin-top: auto;
    text-align: right;
  }
}
