@import 'SCSS/_global_colors.scss';
@import 'SCSS/_circle-overlay.scss';

.app-form {
  $amount: 20%;
  min-height: 500px;
  max-width: 900px;

  padding: 5%;
  margin: auto;

  border-top: 5px solid lighten($color_3, $amount);
  border-bottom: 5px solid lighten($color_3, $amount);

  &__btn {
    padding: 8px 24px;
    border: 1px solid $color_3;
    background: transparent;
    margin: 5% 10px 0 0;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.4s;

    &_save {
      @include circle-overlay(rgba(0, 148, 0, 0.3), 0.4s);
    }

    &_reject {
      @include circle-overlay(rgba(148, 0, 0, 0.3), 0.4s);
    }

    @media (min-width: 820px) {
      padding: 1.2% 3.6%;
    }
  }

  &__btn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 5px -5px;
  }
}
